<!DOCTYPE html>
<html>
<head>
  <title>About</title> 
</head> 
<body>
  <div class="main about"> 
    <div class="container"> 
      <div class="row"> 
        <div class="col-md-6 thumbnail"> 
          <img alt="Me" src="https://portfolio-rails-2633.herokuapp.com/assets/me-50056699c4a6e91e21a81298d9954d18.jpg"> 
        </div> 
        <div class="col-md-6"> 
          <h2>Hello. My name is <span class="highlight">Mirko Malešič</span></h2> 
          <p>I was born in 1960 in Kranj in Slovenia and  before moving to Brezje at Grosuplje. Dropped out and worked around from 16 on.</p> 
          <p>Since the early age, I've been pursuing my passion with information technology, building websites and developing my creativity.</p> 
        </div> 
      </div> 
    </div> 
  </div>
</body> 
  
</html>