<!DOCTYPE html>
<html>
  <head> 
  <title>Portfolio</title> 
   <script src="//unslider.com/unslider.min.js"></script> 
  </head> 
  <body> 
    <div class="main portfolio"> 
      <div class="jumbotron slideshow"> 
           <!-- <div class="banner"> 
            <ul>
               <li style="width: 25%; background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/slide01-9d5c1b911de14032bbc4cc7b19514447.jpg); background-size: 100% 100%;"></li>
              	<li style="width: 25%; background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/slide02-3c9662ea3f8d9ce479b5a76aedfa3f7b.jpg); background-size: 100% 100%;"></li>
              <li style="width: 25%; background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/slide01-9d5c1b911de14032bbc4cc7b19514447.jpg); background-size: 100% 100%;"></li>
            	<li style="width: 25%; background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/slide03-4e85ff59d4201786022aecf410d35d4f.jpg); background-size: 100% 100%;"></li> 
           </ul>
        </div>-->
       <div class="video-section"> 
        <video width="100%" autoplay="" muted="" loop="" > 
          <source src="https://s3.amazonaws.com/codecademy-content/projects/excursion/bg.mp4" type="video/mp4"> 
        </video> 
       </div>
     <!--  <div class="banner">
            <ul>
                <li>This is a slide.</li>
                <li>This is another slide.</li>
                <li>This is a final slide.</li>
            </ul>
        </div>  -->   
      </div>
      
      
      
     <!-- <div class="jumbotron slideshow"> 
        <div class="slideshow-container"> 
          <div class="slide"> 
            <img alt="Slide01" src="https://portfolio-rails-2633.herokuapp.com/assets/slide01-9d5c1b911de14032bbc4cc7b19514447.jpg"> 
          </div> 
          <div class="slide"> 
         	 <img alt="Slide02" src="https://portfolio-rails-2633.herokuapp.com/assets/slide02-3c9662ea3f8d9ce479b5a76aedfa3f7b.jpg"> 
          </div> 
          <div class="slide"> 
            <img alt="Slide03" src="https://portfolio-rails-2633.herokuapp.com/assets/slide03-4e85ff59d4201786022aecf410d35d4f.jpg"> 
          </div> 
          <div class="slide"> 
            <img alt="Slide04" src="https://portfolio-rails-2633.herokuapp.com/assets/slide04-38bd2e1296452662195acbb9cabafda6.jpg"> 
          </div> 
          <div class="slide"> 
            <img alt="Slide05" src="https://portfolio-rails-2633.herokuapp.com/assets/slide05-0d54918a8bf7af849bbe49da704e6bb6.jpg"> 
          </div> 
        </div> -->
      </div> 
      <div class="container"> 
        <div class="row"> 
          <a class="col-md-6 project" href="https://s3.amazonaws.com/codecademy-content/projects/adoptly/index.html"> 
            <div class="thumbnail-header"> 
              <div class="thumbnail-header-btn">
              </div> 
              <div class="thumbnail-header-btn">
              </div> 
               <div class="thumbnail-header-btn">
               </div> 
            </div>
            <div class="thumbnail"> 
              <img alt="Project01" src="http://i58.tinypic.com/24o2igz.jpg" >
                   <!-- http://i58.tinypic.com/24o2igz.jpg https://portfolio-rails-2633.herokuapp.com/assets/project01-0ff155425c5a026839c43ae7c5089f1e.jpg"> -->
            </div> 
            <h3>Adoptly Pet Adoption Service</h3> 
            <p>Adoptly offers finding a pet based on location, type, breed, age, and gender. Also you can read articles on feeding, training, grooming, and more. You can even get involved to help pets in need. </p> 
          </a> 
          <a class="col-md-6 project" href="https://s3.amazonaws.com/codecademy-content/projects/bolt-network/index.html"> 
            <div class="thumbnail-header"> 
              <div class="thumbnail-header-btn">
              </div> 
              <div class="thumbnail-header-btn">
              </div> 
              <div class="thumbnail-header-btn">
              </div> 
            </div> 
            <div class="thumbnail"> 
              <img alt="Project02" src="http://i59.tinypic.com/214e6mv.jpg" >
                                        <!--http://i57.tinypic.com/35c0qd4.jpg"> 
                                         https://portfolio-rails-2633.herokuapp.com/assets/project02-ba5afb4eb817317b6be7ba2948be9fe3.jpg"> -->
            </div> 
            <h3>Bolt Network Site</h3> 
            <p>Watch your favorite movies, instantly. Browse the collection. A world of movies at your fingertips.
Choose from the latest titles, with new movies added every day.</p> 
          </a> 
        </div> 
        <div class="row"> 
          <a class="col-md-6 project" href="https://s3.amazonaws.com/codecademy-content/projects/red-eye/index.html"> 
            <div class="thumbnail-header"> 
              <div class="thumbnail-header-btn">
              </div> <div class="thumbnail-header-btn">
              </div> 
              <div class="thumbnail-header-btn">
              </div> 
            </div> 
            <div class="thumbnail"> 
              <img alt="Project03" src="http://i57.tinypic.com/f9l2lv.jpg">
                                       <!-- https://portfolio-rails-2633.herokuapp.com/assets/project03-f820dd50db97b4bef375e7645466b30e.jpg">--> 
            </div> 
            <h3>Red Eye Photography</h3> 
            <p>Web site with several really good photo imgaes taken by renowed photograph Matthew Wiebe. Worth looking and  meditating on very inspiring and delightful photos.  </p> 
          </a> 
          <a class="col-md-6 project" href="https://s3.amazonaws.com/codecademy-content/projects/junction/index.html"> 
            <div class="thumbnail-header"> 
              <div class="thumbnail-header-btn"></div> 
              <div class="thumbnail-header-btn"></div> 
              <div class="thumbnail-header-btn">
              </div> 
            </div> 
            <div class="thumbnail"> 
              <img alt="Project04" src="http://i58.tinypic.com/2j35hr9.jpg">
                                        <!--https://portfolio-rails-2633.herokuapp.com/assets/project04-1e66995d7e1fc884b9d84f6d9a2f135a.jpg"> -->
            </div> 
            <h3>Meet Junction</h3> 
            <p>Discover new stories and follow your favorite writers. Create stories about our world, or entirely new worlds. Join the conversation by talking with your favorite readers and your fans.</p> 
          </a> 
        </div> 
        <div class="row"> 
          <a class="col-md-6 project" href="https://s3.amazonaws.com/codecademy-content/projects/headlines/index.html"> 
            <div class="thumbnail-header"> 
              <div class="thumbnail-header-btn">
              </div> 
              <div class="thumbnail-header-btn">
              </div> 
              <div class="thumbnail-header-btn">
              </div> 
            </div> 
            <div class="thumbnail"> 
              <img alt="Project05" src="http://i59.tinypic.com/24zk84j.jpg">
                                        <!--https://portfolio-rails-2633.herokuapp.com/assets/project05-be5f6a9baca0191c49d4b424555f9287.jpg">--> 
            </div> 
            <h3>Headlines </h3> 
            <p>We collect and curate articles, opinions, and images from around the world. We deliver the news that is relevant to you.</p> 
          </a> 
          <a class="col-md-6 project" href="https://rocky-fjord-2178.herokuapp.com">
             <!-- "https://s3.amazonaws.com/codecademy-content/projects/pocketbook/index.html"> -->
            <div class="thumbnail-header"> 
              <div class="thumbnail-header-btn">
              </div> 
              <div class="thumbnail-header-btn">
              </div> 
              <div class="thumbnail-header-btn">
              </div> 
            </div> 
            <div class="thumbnail"> 
              <img alt="Project06" src="http://i59.tinypic.com/35b84r6.jpg">
                                       <!-- http://i61.tinypic.com/2meqxbo.jpg - https://portfolio-rails-2633.herokuapp.com/assets/project06-ec513d22a13d9c4c5f959882fa9ea7bb.jpg"> -->
            </div> 
            <h3>Create and share stories</h3> 
            <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p> 
           <!-- <h3>Pocketbook</h3> 
            <p>Pocketbook's sign up page for delivering their mobile payment service with relevant dat for respective user.</p> -->
          </a> 
        </div> 
      </div> 
    
   </body>
</html>